<div class="inner">
    <div class="praises__text" wmAnimate="fadeIn" speed="fast" aos>
        <h2 class="section-heading">People Are Awesome</h2>
        <p>I am a humble man, but want to share a couple recent positive praise messages I have received from colleagues and end users that were a direct result of my UX/UI design and development efforts.</p>
    </div>

    <div class="praises__praise">
        <ng-container *ngFor="let praise of praises">
            <app-praise 
                [title]="praise.title"
                [content]="praise.content"
                [type]="praise.type"
                [person]="praise.person"
                [personTitle]="praise.personTitle"
                [position]="praise.position"
                
                >
            </app-praise>
        </ng-container>
    </div>
</div>