<div class="job">
    <div class="job__date">2019 - Now</div>
    <div class="job__dot-and-line">
        <div class="job__dot"></div>
    </div>
    <div class="job__company-and-description">
        <div class="job__company">Hunter Industries</div>
        <div class="job__description">
            <p>Took on more of a design role advancing our UX/UI efforts while working with cross-functional teams to plan, prototype, and implement new software features.</p>
        </div>
        <div class="job__title">
            Front-End Developer
        </div>
    </div>
</div>