<div class="job">

    <div *ngIf="isMobile" class="job__date" wmAnimate="fadeInLeft" speed="fast" aos=0.1>{{date}}</div>
    <div *ngIf="!isMobile" class="job__date" wmAnimate="fadeInRight" speed="fast" aos=0.1>{{date}}</div>
    <div class="job__dot-and-line">
        <div class="job__dot"></div>
    </div>
    <div class="job__company-and-description" wmAnimate="fadeInLeft" speed="fast" aos=0.1>
        <h3 class="job__company">{{company}}</h3>
        <div class="job__description">
            <p>{{description}}</p>
        </div>
        <mat-chip-list aria-label="Fish selection">
            <mat-chip class="job__title" color="primary" selected>{{title}}</mat-chip>
        </mat-chip-list>
        
        <!-- <div class="job__title">
            {{title}}
        </div> -->
    </div>
</div>