<h2 class="section-heading">About Me</h2>
<div class="inner">
    <div class="about__text">
        <p>Howdy! My name is Gary Saunders and I’m currently a front-end developer in San Marcos, CA. </p>
        <p>I started building websites for the web as a steady profession since around 2007, when I scored a web
            developer opportunity at an action sports marketing agency while still in college.</p>
        <p>Fast forward 14 years and now I'm an advocate for the end user, working with products owners and software
            engineering teams to design and develop software user interfaces for a global leader in the landscape
            lighting and irrigation industry.</p>
    </div>

    <div class="about__pic popout-border top-right">
        <img src="assets/me.jpg">
    </div>
</div>