<h2 class="section-heading">About Me</h2>
<div class="inner">
    <div class="about__text">
        <p>Hey there! My name is Gary Saunders and I’m currently a front-end developer in San Marcos, CA. </p>
        <p>I've been creating things for the web and getting paid for it since around 2007, when I scored a web developer opportunity at an action sports marketing agency while still in college.</p>
        <p>Fast forward 14 years and now I'm designing and developing software user interfaces for a global leader in the landscape lighting and irrigation industry.</p>
        <!-- <p>After getting to develop various websites for some well-known athletes and action sports brands at that agency, then moving into the role of Manager of Digital Technology and Operations at Alli Sports which is the action sports division of NBC Sports, </p> -->
        <!-- <p>I remember dialing up a BBS to exchange games and images as a kid but it wasn’t until around 2005 that I knew I wanted to help build things for the web as my career.</p> -->
        <!-- <p>TBH - I’m not really sure what I am anymore…I was a developer for many years but in the last couple years I’ve been taking on much more UX/UI designing duties all while working with software engineers to get the designs implemented. Just evolving, I guess.</p> -->
    </div>

    <div class="about__pic popout-border top-right">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGxsVfgqV-Weg/profile-displayphoto-shrink_800_800/0/1516575630259?e=1631750400&v=beta&t=zolp53KhDay4kGh8Tw1XeKgnNbaP0d1YuYu3FEu8dX8">
    </div>
</div>