.projects__text{
    width: 536px;
    max-width: 100%;
}

.projects__all{
    margin-top: 10rem;
    @media screen and (max-width: 850px){
        margin-top: 6rem;
    }
    @media screen and (max-width: 480px){
        margin-top: 4rem;
    }
}