<!-- <p>projects works!</p>
<carousel [width]="300" [height]="300" [cellWidth]="300" [dots]=true [arrowsOutside]=false> 

    <div class="carousel-cell">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGxsVfgqV-Weg/profile-displayphoto-shrink_800_800/0/1516575630259?e=1631750400&v=beta&t=zolp53KhDay4kGh8Tw1XeKgnNbaP0d1YuYu3FEu8dX8">
    </div>

    <div class="carousel-cell">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGxsVfgqV-Weg/profile-displayphoto-shrink_800_800/0/1516575630259?e=1631750400&v=beta&t=zolp53KhDay4kGh8Tw1XeKgnNbaP0d1YuYu3FEu8dX8">
    </div>

</carousel> -->


<div class="inner">
    <div class="projects__text">
        <h2 class="section-heading">Some Projects I've Worked On</h2>
        <p>While there are too many projects over the course of my career to list here, I’ve featured some more recent noteworthy and favorite projects.</p>
    </div>

</div>


<div class="projects__all">


    <div *ngFor="let project of projects">
        <app-project 
            [type]="project.type"
            [title]="project.title"
            [description]="project.description"
            [skills]="project.skills"
            [link]="project.link"
            [images]="project.images"
            [layout]="project.layout"
            >
        </app-project>
    </div>


</div>


