.work__text{
    position: sticky;
    top: 100px;
    grid-row-start: span 1;
    align-self: start;
    @media screen and (max-width: 850px){
        position: static;
        top: auto;
    }
}