<div class="inner">
    <div class="work__text">
        <h2 class="section-heading">Work Experience</h2>
        <p>Where I’ve not only worked hard but kept pushing myself and growing on the journey to this moment now. I am grateful for all the opportunities in my career.</p>
    </div>

    <div class="work__job-positions">
        <app-job-position></app-job-position>
        <app-job-position></app-job-position>
        <app-job-position></app-job-position>
        <app-job-position></app-job-position>
        <app-job-position></app-job-position>
        <app-job-position></app-job-position>
    </div>
</div>