:root{
    --color-text: #3b3b3b;
    --color-light-green: #52FF12;
    --color-purple: #4F345A;
    --color-white: #fff;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 2.0rem;
    --font-size-xlarge: 2.6rem;
}