:root {
  //Base Size = 16px (100%/1em)
  //Scale = 1.250 (Major Third)
  --color-text: #3b3b3b;
  --color-light-green: #52ff12;
  --color-purple: #4f345a;
  --color-white: #fff;
--color-light-gray: #c0c5c1;
  --font-size-sm: 0.8rem; //12.8px
  --font-size-md: 1rem; //16px
  --font-size-lg: 1.25rem; //20px

  --font-size-xl: 3.815rem; //61.04px
  --font-size-2xl: 4.768rem; //76.29px
  --font-size-3xl: 5.96rem; //95.37
  --font-size-landing: 5.61rem; //89.76px

  --line-height-sm: 1.25;
  --line-height-md: 1.5;
  --line-height-lg: 1.75;
}

// h1 {
//     margin-top: 0;
//     font-size: 3.052rem; //48.83px
//   }
  
//   h2 {
//     font-size: 2.441rem; //39.06px
//   }
  
//   h3 {
//     font-size: 1.953rem; //31.25px
//   }
  
//   h4 {
//     font-size: 1.563rem; //25px
//   }
  
//   h5 {
//     font-size: 1.25rem; //20px
//   }
  
//   small,
//   .text_small {
//     font-size: 0.8rem; //12.8px
//   }