<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" autoFocus="false" position="end">
    <mat-nav-list>
      <a mat-list-item href="#" (click)="scrollToSection('about-anchor'); sidenav.toggle()">About</a>
      <a mat-list-item href="#" (click)="scrollToSection('work-anchor'); sidenav.toggle()">Work</a>
      <a mat-list-item href="#" (click)="scrollToSection('projects-anchor'); sidenav.toggle()">Projects</a>
      <a mat-list-item href="#" (click)="scrollToSection('praises-anchor'); sidenav.toggle()">Praises</a>
      <a mat-list-item href="#" (click)="scrollToSection('contact-anchor'); sidenav.toggle()">Contact</a>
      <div class="mat-list-item">
        <a target="_blank" href="http://www.garysaunders.com/pdf/resume-2021.pdf" mat-stroked-button class="stroked-green" color="accent">DOWNLOAD RESUME</a>
      </div>
    </mat-nav-list>


<div class="monster" *ngIf="checked">
  <img src="../assets/monster_scroobly.gif" />
</div>




  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>

      <nav wmAnimate="fadeInDown" speed="medium" aos>
        <a class="logo" href="#" (click)="scrollToSection('landing')"><img src="../assets/logo_gs.svg" /></a>
        <div class="nav__styled-links">
          <a href="#" (click)="scrollToSection('about-anchor')">About</a>
          <a href="#" (click)="scrollToSection('work-anchor')">Work</a>
          <a href="#" (click)="scrollToSection('projects-anchor')">Projects</a>
          <a href="#" (click)="scrollToSection('praises-anchor')">Praises</a>
          <a href="#" (click)="scrollToSection('contact-anchor')">Contact</a>
          <a target="_blank" href="http://www.garysaunders.com/pdf/resume-2021.pdf" mat-stroked-button class="stroked-green" color="accent">DOWNLOAD RESUME</a>
        </div>
        <div class="nav__mobile-menu">
          <button mat-icon-button aria-label="menu button" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </nav>

    </mat-toolbar>



    <!-- wmAnimateView top="24" -->
    <div id="landing"></div>
    <div class="main-container" [ngClass]="{'active': checked}" wmAnimateView top="20vh">
      
      <div class="main-inner">

        <div class="big-textbox" [wmAnimate]="isMobile ? 'bounceIn' : 'landing'" speed="fast" aos *ngIf="!checked">
          <h1>
            Gary <br>Saunders
          </h1>
          <span>I'm a Front-End Developer who seems to be doing more designing than coding lately...also I couldn't live without music.</span>
        </div>

        <div class="monster" *ngIf="checked">
          <img src="../assets/monster_scroobly.gif" />
        </div>



        <section id="about" wmAnimate="fadeIn" speed="fast" aos=0.2>
          <div id="about-anchor" class="scroll-to-anchor"></div>
        <!-- <section id="about" wmAnimate="fadeIn" aos> -->
          <app-about></app-about>
          
        </section>



        <section id="work">
          <div id="work-anchor" class="scroll-to-anchor"></div>
          <app-work></app-work>
        </section>


        <!-- <section id="projects" wmAnimate="fadeIn" aos> -->
        <section id="projects">
          <div id="projects-anchor" class="scroll-to-anchor"></div>
          <app-projects></app-projects>
        </section>
        

        <section id="praises">
          <div id="praises-anchor" class="scroll-to-anchor"></div>
          <app-praises></app-praises>
        </section>


        <section id="contact" wmAnimate="bounceInUp" aos=0.1 once>
          <div id="contact-anchor" class="scroll-to-anchor"></div>
          <app-contact></app-contact>
        </section>


        <div class="props">
          Designed and Developed by Gary Saunders
        </div>


      </div> <!-- End main-inner -->
      
      <div class="social-i-guess">
        <a [wmAnimate]="isMobile ? 'bounceIn' : 'fadeInLeft'" speed="slow" aos=0.1 target="_blank" href="https://www.linkedin.com/in/gary-saunders-sd/"><mat-icon svgIcon="icon_linkedin"></mat-icon></a>
        <a [wmAnimate]="isMobile ? 'bounceIn' : 'fadeInLeft'" speed="slow" aos=0.1 target="_blank" href="https://github.com/slik1"><mat-icon svgIcon="icon_github"></mat-icon></a>
        <a [wmAnimate]="isMobile ? 'bounceIn' : 'fadeInLeft'" speed="slow" aos=0.1 target="_blank" href="https://soundcloud.com/g-slik"><mat-icon svgIcon="icon_soundcloud"></mat-icon></a>
      </div>

    </div>







    <mat-toolbar class="footer" [ngClass]="{'active': checked}">
      <audio controls #musicPlayer>
        <source src="../assets/ok11.mp3" type="audio/mpeg">
      </audio>
      <p>All music created by Gary Saunders &copy; 2021</p>
      <!-- <p>&copy; 2021</p> -->
    </mat-toolbar>

  </mat-sidenav-content>

</mat-sidenav-container>


