<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">


    <mat-nav-list>
      <a mat-list-item href="..." routerLink="/" routerLinkActive="active"> Home </a>
      <a mat-list-item href="..." routerLink="/about" routerLinkActive="active"> About </a>
      <a mat-list-item href="..." routerLink="/contact" routerLinkActive="active"> Contact </a>
    </mat-nav-list>


    <!-- <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav> -->
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>
        <button mat-icon-button aria-label="menu button" (click)="sidenav.toggle()">
          <mat-icon>lunch_dining</mat-icon>
        </button>


        <div class="button-container">
          <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [(ngModel)]="checked"
              [disabled]="disabled"
              (change)="changed()">
            Monster mode
          </mat-slide-toggle>
        </div>
    </mat-toolbar>

    
    <mat-grid-list cols="1" rowHeight="fit" [ngClass]="{'active': checked}">
      
    <mat-grid-tile>  
      
        <div class="big-textbox" *ngIf="!checked">
          <h1>
          
            <span>Hey, my name is </span>
            Gary <br>Saunders
          </h1>

          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="200" height="200" viewBox="0 0 200 200"><g fill="none" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><path d="M2.682 52.074c13.744 5.461 33.286-2.781 36.734-17.97.904-3.985 2.262-11.811-2.116-14.288-9.604-5.432-14.071 19.662 1.59 16.363 6.477-1.365 11.752-7.415 15.898-12.193 4.924-5.671 9.156-11.901 14.08-17.571"/><path d="M72.318 13.251c-1.697-4.046.258-7.902-.576-12.016-2.6 1.869-8.045 5.422-11.414 5.542"/></g></svg>
        </div>

        <div class="monster" *ngIf="checked">
          <img src="../assets/monster_scroobly.gif" />
        </div>

      <router-outlet></router-outlet>
    </mat-grid-tile>


    </mat-grid-list>

  </mat-sidenav-content>

</mat-sidenav-container>

<mat-toolbar class="footer" [ngClass]="{'active': checked}">
    <audio controls #musicPlayer>
      <source src="../assets/ok11.mp3" type="audio/mpeg">
    </audio>
</mat-toolbar>



