app-root {
  .mat-drawer-container {
    height: 100%;
    background-color: var(--color-white);
  }

  .mat-toolbar:not(.footer) {
    position: sticky;
    top: -1px;
    padding: 0 20px 0 16px;
    z-index: 10001;
    // box-shadow: 0px 2px 6px rgb(0 0 0 / 5%);
    background-color: var(--color-white);
    border-bottom: 1px solid #f1f1f1;
    // border-bottom: 1px solid var(--color-light-green);
    // @media screen and (max-width: 945px){
    //   border-bottom: 1px solid var(--color-light-green);
    // }
    nav{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo{
        width: 67px;
        display: flex;
        img{
          width: 100%;
          max-width: 100%;
        }
      }
      .nav__styled-links{
        display: flex;
        align-items: center;
        a{
          margin-left: 8rem;
          text-decoration: none;
          color: var(--color-text);
        }
        .mat-stroked-button,
        .mat-flat-button{
          margin-left: 8rem;
        }
        @media screen and (max-width: 945px){
          display: none;
        }
      }
      .nav__mobile-menu{
        display: none;
        @media screen and (max-width: 945px){
          display: block;
        }
      }
    }
  }

  .monster {
    height: 80%;
    width: auto;
    display: flex;
    align-items: center;
  }

  .monster img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  .mat-nav-list {
    width: 100%;

    svg {
      width: 32px;
      fill: #0e768a;
    }
  }

  .mat-nav-list .mat-list-item {
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
  }

  mat-sidenav {
    width: 300px;
    max-width: 70%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -5px -116px;

    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .mat-list-item-content {
        width: 100%;
        justify-content: space-around;
      }

      .monster {
        height: 20%;
      }
    }

    .mat-icon {
      width: auto;
      height: auto;
      font-size: 32px;
      margin-right: 20px;
    }
  }

  .mat-drawer.mat-drawer-push {
    background-color: #000;
  }

  .button-container {
    font-size: 12px;
    text-transform: uppercase;
  }

  .big-textbox {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    margin: 0 auto 30px;

    svg {
      position: absolute;
      right: 4vw;
      top: 50px;
    }

    span{
      @media screen and (max-width: 690px){
        max-width: 320px;
        font-size: 16px;
      }
    }
  }

  .mat-sidenav .monster {
    height: auto;
  }

  .main-inner h1 {
    //font-size: 6vw;
    //clamp(MIN, VAL, MAX)
    // font-size: clamp(40px, 6vw, 90px);
    font-size: 90px;
    margin: 1rem 0;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 0.9;
    position: relative;
    display: inline-block;
    z-index: 2;

      &:before{
          content: "";
          display: inline-block;
          border: 10px solid var(--color-light-green);
          position: absolute;
          top: -50px;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          left: -50px;
          z-index: -1;
          @media screen and (max-width: 690px){
            top: -40px;
            left: -40px;
          }
          @media screen and (max-width: 420px){

            left: -20px;
          }
      }
  

    @media screen and (max-width: 690px){
      font-size: 6rem;
      // font-size: clamp(50px, 11vw, 90px);
    }




    span {
      font-size: 0.4em;
      font-weight: 200;
      opacity: 0.5;
      margin-left: 2px;
      line-height: 1.4;



      &:last-of-type {
        font-size: 16px;
        opacity: 0.8;
        color: #fff;
        line-height: 5;
        text-transform: none;
        font-weight: normal;
        @media screen and (max-width: 400px) {
          font-size: 14px;
        }
      }
    }
  }

  .main-container {
    height: calc(100% - 60px);
    width: 100%;
    transition: all 0.5s;

    .main-inner{
      padding-bottom: 2rem;
    }

    .social-i-guess {
      position: fixed;
      right: 20px;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 120px;
      justify-content: space-between;
      margin-bottom: 0.6rem;
      a svg{
        fill: var(--color-light-green);
      }
      @media screen and (max-width: 480px){
        position: static;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }

    &.active {
      height: calc(100% - 134px);
      @media screen and (max-width: 600px) {
        height: calc(100% - 114px);
      }
    }
    @media screen and (max-width: 600px) {
      height: calc(100% - 60px);
    }
  }

  .mat-toolbar.footer {
    position: fixed;
    bottom: -200px;
    left: 0;
    z-index: 99;
    justify-content: center;
    
    transition: all 0.5s;
    height: auto;
    flex-direction: column;
    font-size: 10px;
    font-weight: normal;
    padding: 10px;

    p {
      margin: 0;
      line-height: 1.4;
      opacity: 0.8;
      color: #fff;

      &:first-of-type {
        margin-top: 10px;
      }
    }

    &.active {
      bottom: 0;
    }
  }

  // audio::-webkit-media-controls-play-button,
  //      audio::-webkit-media-controls-panel {
  //      background-color: #333;
  //      color: #fff;
  //      }

}

.mat-stroked-button{
  &.stroked-green{
    border-color: var(--color-light-green);
    //color: var(--color-text);
    font-weight: bold;
    border-width: 2px;
  }
  &.stroked-purple{
    border-color: var(--color-purple);
    background-color: rgba(79, 52, 90, 0.2);
    font-weight: bold;
  }
}

