<div class="project" [ngClass]="[layout, screenshotType]">

    <div class="project__details">
        <div class="project__type">{{type}}</div>
        <div class="project__title">{{title}}</div>
        <div class="project__description">
            <p>{{description}}</p>
        </div>

        
        <mat-chip-list class="project__skills" aria-label="Skills">
            <mat-chip *ngFor="let skill of skills">{{skill}}</mat-chip>
        </mat-chip-list>
        



        <a class="project__link" [href]="link"><span>Check it out!</span><mat-icon>launch</mat-icon></a>
    </div>

    <!-- <div class="project__images">
        <img src="../../../assets/project_centralus_scheduling.png">
    </div> -->


    <!-- [width]="screenshotType == 'desktop' ? 536 : 260" -->
    <!-- [height]="screenshotType == 'desktop' ? 355 : 462" -->
    <!-- [cellWidth]="screenshotType == 'desktop' ? 536 : 260" -->

    <carousel class="project__images popout-border" [width]="screenshotType == 'desktop' ? 536 : 260" [height]="screenshotType == 'desktop' ? 355 : 462" [ngClass]="layout"  [cellWidth]="screenshotType == 'desktop' ? 536 : 260" [cellsToShow]="1" [dots]=true [arrowsOutside]=false> 

        <div class="carousel-cell" *ngFor="let image of images">
            <img src="{{image.src}}">
        </div>
    
    </carousel>

</div>