<div class="project" [ngClass]="[layout, screenshotType]" wmAnimate="fadeIn" speed="faster" aos=0.1>



    <div class="project__details">
        <div class="project__type">{{type}}</div>
        <h3 class="project__title">{{title}}</h3>


        <div class="project__image_mobile" [ngStyle]="{ 'background-image': 'url(' + images[0].src + ')'}">
            <!-- <img [src]="images[0].src"> -->
        </div>


        <div class="project__description">
            <p>{{description}}</p>
        </div>

        
        <mat-chip-list class="project__skills" aria-label="Skills">
            <mat-chip color="primary" selected *ngFor="let skill of skills">{{skill}}</mat-chip>
        </mat-chip-list>
        


        <p *ngIf="link === 'unreleased'" class="project__link">(Not launched yet!)</p>
        <a *ngIf="link !== 'unreleased'" class="project__link" [href]="link" target="_blank"><span>Check it out!</span><mat-icon>launch</mat-icon></a>
    </div>

    <!-- <div class="project__images">
        <img src="../../../assets/project_centralus_scheduling.png">
    </div> -->


    <!-- [width]="screenshotType == 'desktop' ? 536 : 260" -->
    <!-- [height]="screenshotType == 'desktop' ? 355 : 462" -->
    <!-- [cellWidth]="screenshotType == 'desktop' ? 536 : 260" -->


        <carousel [dots]="true" [arrows]="true" class="project__images popout-border" [width]="screenshotType == 'desktop' ? 420 : 260" [height]="screenshotType == 'desktop' ? 294 : 462" [ngClass]="layout"  [cellWidth]="screenshotType == 'desktop' ? 536 : 260" [cellsToShow]="1" [arrowsOutside]=false> 
        
            <div class="carousel-cell" *ngFor="let image of images">
                <img src="{{image.src}}">
            </div>
        
        </carousel>




</div>