<div class="project">

    <div class="project__details">
        <div class="project__type">Software Feature</div>
        <div class="project__title">Centralus - Scheduling</div>
        <div class="project__description">
            <p>A specialized software called Centralus needed a specialized interface for the main software functionality to set irrigation schedules. Many iterative wireframes, prototypes, and UI meetings were had to achieve a successful rollout of this much anticipated new feature. </p>
        </div>
        <div class="project__skills">Angular, Angular Material, Adobe XD</div>
        <div class="project__link">Check it out!</div>
    </div>

    <!-- <div class="project__images">
        <img src="../../../assets/project_centralus_scheduling.png">
    </div> -->


    <carousel class="project__images" [width]="536" [height]="355" [cellWidth]="536" [dots]=true [arrowsOutside]=false> 

        <div class="carousel-cell">
            <img src="../../../assets/project_centralus_scheduling.png">
        </div>
    
        <div class="carousel-cell">
            <img src="../../../assets/project_centralus_scheduling.png">
        </div>
    
    </carousel>

</div>