.project{
    display: grid;
    grid-template-columns: auto minmax(auto, 536px);
    gap: 4rem;
    margin-bottom: 20rem;

    &.mobile{
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;

    }

    &.mobile.imgLeft{
        grid-template-columns: auto minmax(auto, 536px);
        .project__details{
            order: 2;
        }
        @media screen and (max-width: 850px){
            grid-template-columns: 100%;
            .project__details{
                order: 0;
            }
        }
    }
    &.mobile.imgRight{
        grid-template-columns: minmax(auto, 536px) auto;
        @media screen and (max-width: 850px){
            grid-template-columns: 100%;
        }
    }

    &.desktop.imgLeft{
        grid-template-columns: auto minmax(auto, 536px);
        .project__details{
            order: 2;
        }
        @media screen and (max-width: 1060px){
            grid-template-columns: 100%;
            .project__details{
                order: 0;
            }
        }
    }
    &.desktop.imgRight{
        grid-template-columns: minmax(auto, 536px) auto;
        @media screen and (max-width: 1060px){
            grid-template-columns: 100%;
        }
    }




    .project__details{

        .project__title {
            font-size: var(--font-size-xlarge);
            font-weight: bold;
        }

        .project__skills {
            margin-bottom: 3rem;
        }

        .project__link{
            color: var(--color-light-green);
            text-decoration: underline;
        }

    }
    .project__images{
        width: 536px;
        max-width: 100%;

    }

    &.desktop{
        .project__images{
            @media screen and (max-width: 1060px){
                justify-self: center;
            }
        }
    }

    &.mobile{
        .project__images{
            @media screen and (max-width: 850px){
                justify-self: center;
            }
        }
    }



    .imgRight{
        &:before{
            content: "";
            display: inline-block;
            border: 6px solid var(--color-light-green);
            position: absolute;
            top: -30px;
            width: 100%;
            height: 100%;
            border-radius: 6px;
            right: -30px;
            z-index: -1;
        }
    }

    .imgLeft{
        &:before{
            content: "";
            display: inline-block;
            border: 6px solid var(--color-light-green);
            position: absolute;
            top: -30px;
            width: 100%;
            height: 100%;
            border-radius: 6px;
            left: -30px;
            z-index: -1;
        }
    }


}