.project{
    display: grid;
    grid-template-columns: auto minmax(auto, 536px);
    gap: 4rem;
    align-items: center;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;



    &.mobile{
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;

    }

    &.mobile.imgLeft{
        grid-template-columns: auto minmax(auto, 536px);
        .project__details{
            order: 2;
        }
        @media screen and (max-width: 850px){
            grid-template-columns: 100%;
            .project__details{
                order: 0;
            }
        }
    }
    &.mobile.imgRight{
        grid-template-columns: minmax(auto, 536px) auto;
        @media screen and (max-width: 850px){
            grid-template-columns: 100%;

        }
    }

    &.desktop.imgLeft{
        grid-template-columns: auto minmax(auto, 536px);
        .project__details{
            order: 2;
        }
        @media screen and (max-width: 1060px){
            grid-template-columns: 100%;
            .project__details{
                order: 0;
            }
        }
    }
    &.desktop.imgRight{
        grid-template-columns: minmax(auto, 536px) auto;
        @media screen and (max-width: 1060px){
            grid-template-columns: 100%;

        }
    }




    .project__details{

        align-self: center;

        @media screen and (max-width: 480px){
            margin-bottom: 0 !important;
        }

        .project__type{
            color: var(--color-purple);
            font-size: var(--font-size-md);
            @media screen and (max-width: 550px) {
                line-height: 1.3;
            }
        }

        .project__title {
            
            font-weight: bold;
            line-height: 1.3;
            margin-top: 10px;
            @media screen and (max-width: 550px) {
                line-height: 1.1;
            }
        }

        .project__skills {
            margin-bottom: 3rem;
            display: block;
            margin-top: 3rem;
        }

        .project__link{
            
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 1rem;
            span{
                text-decoration: underline;
            }
            .mat-icon{
                margin-left: 8px;
            }
        }

        

    }
    .project__images{
        width: 536px;
        max-width: 100%;
        @media screen and (max-width: 600px){
            display: none;
        }
    }

    &.desktop{
        .project__images{
            @media screen and (max-width: 1060px){
                justify-self: center;
            }
        }
    }

    &.mobile{
        .project__images{
            @media screen and (max-width: 850px){
                justify-self: center;
            }
        }
    }



    .imgRight{
        &:before{
            content: "";
            display: inline-block;
            border: 6px solid var(--color-light-green);
            position: absolute;
            top: -30px;
            width: 100%;
            height: 100%;
            border-radius: 6px;
            right: -30px;
            z-index: -1;
        }
    }

    .imgLeft{
        &:before{
            content: "";
            display: inline-block;
            border: 6px solid var(--color-light-green);
            position: absolute;
            top: -30px;
            width: 100%;
            height: 100%;
            border-radius: 6px;
            left: -30px;
            z-index: -1;
        }
    }

    .project__image_mobile{
        display: none;
        width: 100%;
        height: 220px;
        overflow: hidden;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        background-color: var(--color-purple);
        img{
            max-width: 100%;
            width: 100%;
        }
        @media screen and (max-width: 600px) {
            display: block;
        }
    }


}

:host{
    
        background-color: #f7f7f7;
        display: block;
        border-radius: 10px;
        padding: 6rem;
        margin-bottom: 4rem;
        @media screen and (max-width: 1000px) {
            padding: 4rem 5rem 4rem 4rem;
        }
        @media screen and (max-width: 600px) {
            padding: 2rem;
            margin-bottom: 2rem;
        }
        @media screen and (max-width: 420px) {
            padding: 1.5rem;
            border: none;
            margin-left: -10px;
            margin-right: -10px;
        }
}

// :host ::ng-deep .project__images{

//     .carousel-arrows{
//         display: flex;
//         justify-content: space-between;
//         height: 40px;
//         .carousel-arrow{
//             position: relative;
//             box-shadow: none;
//         }
//     }
//   }