@import '~@angular/material/theming';
@include mat-core();


$dark-primary-text: rgba(#3b3b3b, 0.87);
$dark-secondary-text: rgba(#3b3b3b, 0.54);
$dark-disabled-text: rgba(#3b3b3b, 0.38);
$dark-dividers: rgba(#3b3b3b, 0.12);
$dark-focused: rgba(#3b3b3b, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

/* For use in src/lib/core/theming/_palette.scss */
// $md-garydarkgreen: (
//     50 : #e6f7e0,
//     100 : #c0eab3,
//     200 : #96dd80,
//     300 : #6ccf4d,
//     400 : #4dc426,
//     500 : #2dba00,
//     600 : #28b300,
//     700 : #22ab00,
//     800 : #1ca300,
//     900 : #119400,
//     A100 : #c3ffbf,
//     A200 : #92ff8c,
//     A400 : #62ff59,
//     A700 : #4aff40,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );

// $md-garylightgreen: (
//     50 : #f2ffe7,
//     100 : #defec4,
//     200 : #c8fe9d,
//     300 : #b2fe75,
//     400 : #a2fd58,
//     500 : #91fd3a,
//     600 : #89fd34,
//     700 : #7efc2c,
//     800 : #74fc25,
//     900 : #62fc18,
//     A100 : #ffffff,
//     A200 : #fbfffa,
//     A400 : #d7ffc7,
//     A700 : #c5ffad,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #000000,
//         600 : #000000,
//         700 : #000000,
//         800 : #000000,
//         900 : #000000,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );

// $md-garygray: (
//     50 : #e7e7e7,
//     100 : #c2c2c2,
//     200 : #9a9a9a,
//     300 : #717271,
//     400 : #525352,
//     500 : #343534,
//     600 : #2f302f,
//     700 : #272827,
//     800 : #212221,
//     900 : #151615,
//     A100 : #6bf36b,
//     A200 : #3bef3b,
//     A400 : #00f700,
//     A700 : #00de00,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #ffffff,
//         400 : #ffffff,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );

// $md-garyforestgreen: (
//     50 : #ecf2ec,
//     100 : #d1dfd0,
//     200 : #b2cab1,
//     300 : #93b591,
//     400 : #7ba57a,
//     500 : #649562,
//     600 : #5c8d5a,
//     700 : #528250,
//     800 : #487846,
//     900 : #366734,
//     A100 : #b9ffb6,
//     A200 : #88ff83,
//     A400 : #57ff50,
//     A700 : #3eff36,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #000000,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );

/* For use in src/lib/core/theming/_palette.scss */
$gary-purple: (
    50 : #eae7eb,
    100 : #cac2ce,
    200 : #a79aad,
    300 : #84718c,
    400 : #695273,
    500 : #4f345a,
    600 : #482f52,
    700 : #3f2748,
    800 : #36213f,
    900 : #26152e,
    A100 : #cf6fff,
    A200 : #be3cff,
    A400 : #ad09ff,
    A700 : #9f00ef,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$gary-green: (
    50 : #eaffe3,
    100 : #cbffb8,
    200 : #a9ff89,
    300 : #86ff59,
    400 : #6cff36,
    500 : #52ff12,
    600 : #4bff10,
    700 : #41ff0d,
    800 : #38ff0a,
    900 : #28ff05,
    A100 : #ffffff,
    A200 : #f4fff3,
    A400 : #c6ffc0,
    A700 : #afffa7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);





$gary-typography: mat-typography-config($font-family: '"Poppins", sans-serif;');
@include mat-core($gary-typography);



$gary-primary: mat-palette($gary-purple);
$gary-accent: mat-palette($gary-green);
$gary-warn: mat-palette($mat-red);

$gary-theme: mat-light-theme(
    $gary-primary, $gary-accent, $gary-warn
);



@include angular-material-theme($gary-theme);

